{% extends 'partials/module.html.twig' %}

{% set body_classes = page.header.body_classes ~ ' hero-module container-fluid' %}
{% if page.header.dark_background %}
    {% set body_classes = body_classes ~ ' text-white' %}
{% endif %}
{% if page.header.overlay_image %}
    {% set body_classes = body_classes ~ ' overlay-bg' %}
{% endif %}

{% block content %}
    {% if page.header.background_image %}
        <div class="hero-module__background-image">
            {{ page.media[page.header.background_image].derivatives(640, 2560, 640).html()|raw }}
        </div>
    {% endif %}
    {% if page.header.background_video %}
        <div class="hero-module__background-video">
            {{ include('partials/video.html.twig', page.header.background_video) }}
        </div>
    {% endif %}
    <div class="row">
        <div class="hero-module__text col-lg-6">
            <h1 class="hero-module__heading display-2">
                {{ page.title }}
            </h1>
            {{ content|markdown }}
            {% if page.header.cta or page.header.featured_video %}
                <div class="hero-module__buttons">
                    {% if page.header.cta %}
                        {{ include('partials/cta.html.twig') }}
                    {% endif %}
                    {% if page.header.featured_video %}
                        {{ include('partials/lightbox.html.twig', page.header.featured_video) }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if page.header.featured_video or page.header.featured_image %}
            <div class="hero-module__media col-lg-6">
                {% if page.header.featured_video %}
                    {{ include('partials/video.html.twig', page.header.featured_video) }}
                {% elseif page.header.featured_image and page.media[page.header.featured_image] %}
                    {{ page.media[page.header.featured_image].html('', '', 'img-fluid') }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
