<div class="illustrated rhythm row {{ body_classes }}">
    <div class="col-md-8 col-lg-6">
        {% if page.header.featured_video %}
            {{ include('partials/video.html.twig', page.header.featured_video) }}
        {% elseif page.header.featured_image and page.media[page.header.featured_image] %}
            {{ page.media[page.header.featured_image].html('', '', 'img-fluid') }}
        {% endif %}
    </div>
    <div class="col-md-4 col-lg-6">
        {% if page.title %}
            <h2>{{ page.title|e('html') }}</h2>
        {% endif %}
        {{ content|raw }}
        {% if page.header.cta %}
            <p>
                <a class="btn btn-outline-primary" href="{{ page.header.cta.href|e('html_attr') }}">
                    {{ page.header.cta.text|raw }}
                </a>
            </p>
        {% endif %}
    </div>
</div>
