{% set project_classes = 'project-module container-fluid' %}
{% set text_classes = 'col-md-6' %}
{% if page.header.cover %}
    {% set project_classes = project_classes ~ (page.header.cover.dark ? ' project-module--dark' : '') %}
    {% set image_classes = 'col-md-6' %}
    {% if page.header.cover and page.header.cover.animate %}
        {% if page.header.cover.animate is sameas('slide-right') %}
            {% set project_classes = project_classes ~ ' project-module--slide-right' %}
            {% set image_classes = 'col-md-8 col-lg-6 slide-right' %}
            {% set text_classes = 'col-md-4 col-lg-6' %}
        {% elseif page.header.cover.animate is sameas('slide-left') %}
            {% set project_classes = project_classes ~ ' project-module--slide-left' %}
            {% set image_classes = image_classes ~ ' slide-left' %}
        {% endif %}
    {% endif %}
{% endif %}
{% set body_classes = page.header.body_classes ~ ' ' ~  project_classes %}

<div id="{{ page.menu|hyphenize }}"
     class="module {{ body_classes }}"
     {% if page.header.cover and page.header.cover.background %}
     style="background-color: {{ page.header.cover.background|e('html_attr') }}"
     {% endif %}
>
{% block content %}
    <div class="row">
        {% if page.header.cover and page.header.cover.image and page.media[page.header.cover.image] %}
            {% set image_extension = page.header.cover.image|split('.')|last %}
            {% set image_name = page.header.cover.image|replace({ ('.' ~ image_extension): '' }) %}
            <div class="project-module__image-container {{ image_classes }}">
                {% for breakpoint in ['xl', 'lg', 'md', 'sm'] %}
                    {% set breakpoint_file = image_name ~ '@' ~ breakpoint ~ '.' ~ image_extension %}
                    {% if page.media[breakpoint_file] %}
                        {{ page.media[breakpoint_file].html('', '', 'project-module__image project-module__image--' ~ breakpoint ~ ' img-fluid')|raw }}
                    {% endif %}
                {% endfor %}
                {{ page.media[page.header.cover.image].derivatives(800, 2800, 400).html('', '', 'project-module__image img-fluid')|raw }}
            </div>
        {% endif %}
        <div class="project-module__text {{ text_classes }}">
            {% if page.title %}
                <p class="module__kicker">{{ page.title|e('html') }}</p>
            {% endif %}
            {% if page.header.subtitle %}
                <h2 class="module__heading">
                    <a href="{{ page.url }}">
                        {{ page.header.subtitle|e('html') }}
                        <i class="las la-long-arrow-alt-right"></i>
                    </a>
                </h2>
            {% endif %}
            {% if page.taxonomy.service %}
                <ul class="project-module__services list-unstyled">
                    {% for service in page.taxonomy.service %}
                        <li>{{ service }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
</div>
