<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}
    {% include 'partials/favicon.html.twig' %}
    {% do assets.addCss('theme://css-compiled/backdrop.css') %}
    {% do assets.addCss('theme://vendor/line-awesome/css/line-awesome.min.css') %}
    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}
</head>
<body class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <a href="#main">Skip to main content</a>
    {% include 'partials/page_header.html.twig' %}
    <main id="main">
        {% block hero %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
    {% include 'partials/page_footer.html.twig' %}
    {{ assets.js('bottom')|raw }}
</body>
</html>
