<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    <meta charset="utf-8">
    <title>{% if page.title and not page.home %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}
    {% include 'partials/favicon.html.twig' %}
    {% do assets.addCss('theme://css-compiled/backdrop.css') %}
    {% do assets.addCss('theme://vendor/line-awesome/css/line-awesome.min.css') %}
    {% do assets.addJs('theme://vendor/bootstrap/js/dist/dom/event-handler.js', { group: 'bottom', priority: 103 }) %}
    {% do assets.addJs('theme://vendor/bootstrap/js/dist/dom/data.js', { group: 'bottom', priority: 103 }) %}
    {% do assets.addJs('theme://vendor/bootstrap/js/dist/dom/manipulator.js', { group: 'bottom', priority: 103 }) %}
    {% do assets.addJs('theme://vendor/bootstrap/js/dist/dom/selector-engine.js', { group: 'bottom', priority: 103 }) %}
    {% do assets.addJs('theme://vendor/bootstrap/js/dist/modal.js', { group: 'bottom', priority: 102 }) %}
    {% do assets.addJs('theme://vendor/three.js', { group: 'bottom', priority: 101 }) %}
    {% do assets.addJs('theme://js/autoplay.js', { group: 'bottom', priority: 101 }) %}
    {% do assets.addJs('theme://js/lightbox.js', { group: 'bottom', priority: 101 }) %}
    {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js', { group: 'bottom', priority: 100 }) %}
    {% do assets.addJs('theme://js/animation.js', { group: 'bottom', priority: 100 }) %}
    {% do assets.addJs('theme://js/homepage-hero.js', { group: 'bottom', priority: 100 }) %}
    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}
</head>
<body class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <a href="#main" id="skip-nav">Skip to main content</a>
    {% include 'partials/page_header.html.twig' %}
    <main id="main">
        {% block hero %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
    {% include 'partials/page_footer.html.twig' %}
    {{ assets.js('bottom')|raw }}
</body>
</html>
